/* 
 * File: stile.css
 * ------------------------
 * Foglio di stile relativo all'impaginazione del sito.
 */


/*
 * -------------------
 * Stile del documento
 * -------------------
 */
body
{
	/*scrollbar-3dlight-color: #C0C0C0;  	scrollbar-arrow-color: rgb(255,255,255); 	scrollbar-base-color: #008080;  	scrollbar-darkshadow-color: #C0C0C0;  	scrollbar-face-color: #008;  	scrollbar-highlight-color: white;  	scrollbar-shadow-color: white; 	scrollbar-track-color: #EEEEEE; */
	text-align: center;
	color: #000;
	margin: 0px;
	padding: 0;
        border-top: 4px solid #06c;
	background: #c8e6ff url( '../img/back.jpg' ) repeat-x;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-size: 77%;
	font-family: Georgia, Times New Roman, Times, serif, verdana, helvetica, sans-serif, arial;
}

img{
    vertical-align: middle;
}




/*
 * -------------------------------
 * Link e titoli per tutto il sito
 * -------------------------------
 */
/*-- Link della pagina --*/
a:link, a:visited, a:active
{
	text-decoration: none;
	font-weight: bold;
	color: #000;
}

a:hover
{
	/*text-decoration: underline;*/
	font-weight: bold;
	color:#dd0000;
}

/*-- Link del menu --*/
a.indice, a.indice:active
{
	text-decoration: none;
	width: 84px;
	display: block;
	border: solid 1px #bdf;
}

a.indice:hover
{
	background-color: #d7f5ff;
	border: solid 1px #69f;
	display: block;
	width: 84px;
	text-decoration: none;
}

/*-- Link della tool bar --*/
a.tool, a.tool:active
{
	text-decoration: none;
	border: solid 1px #bdf;
}

a.tool:hover
{
	background-color: #d7f5ff;
	border: solid 1px #69f;
	text-decoration: none;
}

/*-- Titoli --*/
h2
{
	color: #336600;
	background-color: #ffffff;
	font-size: 1.2em;
	font-style: normal;
	font-weight: bold;
}

h2.indice
{
	color: #ffffff;
	background: #008 url( '../img/menu-sfondo-blu.png' ) repeat-x;
	font-family: Georgia, "Times New Roman" , Times, serif;
	font-size: 1.0em;
	font-style: normal;
	font-weight: bold;
	margin: 0px;
	padding-left: 5px;
	text-align: center;
}

h6.firma
{
	color: #000;
	background-color: transparent;
	font-family: Georgia, "Times New Roman" , Times, serif;
	font-size: 10px;
	font-style: italic;
	font-weight: normal;
	margin: 0px;
	padding-left: 5px;
	text-align: right;
}


/*
 * -------
 * Elenchi
 * -------
 */
dt
{
	color: #036;
	background-color: transparent;
	font-weight: bold;
	margin-bottom: 5px;
}

dd
{
	color: #000;
	background-color: transparent;
	margin-bottom: 10px;
	margin-left: 15px;
}

ol, ul
{
   margin: 0px;
   margin-left: 20px;
}

 /*-- I menu --*/
ul#menu
{
   padding: 0;
	border-bottom: 1px dotted #00a;
	background: url( '../img/1.gif' ) no-repeat 2px 5px;
}
ul#menu li
{
	padding: 0px 3px 0px 12px;
}

ul#mailing
{
   padding: 0;
	border-bottom: 1px dotted #00a;
	background: url( '../img/3.gif' ) no-repeat 2px 5px;
}
ul#mailing li
{
	padding: 0px 3px 0px 12px;
}

ul#contact
{
	padding: 0;
	border-bottom: 1px dotted #00a;
   background: url( '../img/2.gif' ) no-repeat 2px 5px;
}
ul#contact li
{
	padding: 0px 3px 0px 12px;
}

ul#comunity
{
	padding: 0;
	border-bottom: 1px dotted #00a;
   background: url( '../img/4.gif' ) no-repeat 2px 5px;
}
ul#comunity li
{
	padding: 0px 3px 0px 12px;
}

/*
 * ---------------
 * I Form generici
 * ---------------
 */
form
{
	font: 100% Georgia, "Times New Roman" , Times, serif, verdana, helvetica, sans-serif, arial;
	
}

form .submit
{
	background-color: #d7f5ff;
	border: solid 2px #69f;
	border-left-color: #d7f5ff;
	border-right-color: #d7f5ff;
	font: 99.9% Georgia, "Times New Roman" , Times, serif, verdana, helvetica, sans-serif, arial;
	font-weight: bolder;
}

form .txt
{
	border: solid 1px #ccc;
	font: 99.9% Georgia, "Times New Roman" , Times, serif, verdana, helvetica, sans-serif, arial;
	text-align: center;
}


/*
 * ------------------
 * Elementi del forum
 * ------------------
 */
 
/* General font families for common tags */
hr#sep1
{ 
	background-color:#85b0e4; 
	border:none; 
	display: block;
	height: 1px; 
	border: solid #85b0e4 0px; 
	border-top-width: 1px;
}


/* This is the border line & background colour round the entire page */
.bodyline
{ 
	background-color: #FFFFFF; 
	border: 1px #85b0e4 solid; 
}

/* This is the outline round the main forum tables */
.forumline
{ 
	background-color: #FFFFFF; 
	border: 2px #006699 solid; 
}


/* Main table cell colours and backgrounds */
td.row1	{ background-color: #d6e9fc; }
td.row2	{ background-color: #c6e1fb; }
td.row3	{ background-color: #bbddff; }


/*
  This is for the table cell above the Topics, Post & Last posts on the index.php page
  By default this is the fading out gradiated silver background.
  However, you could replace this with a bitmap specific for each forum
*/
td.rowpic 
{
	background-color: #FFFFFF;
	background-image: url(../phpBB2/templates/subSilver/images/cellpic2.jpg);
	background-repeat: repeat-y;
}

/* Header cells - the blue and silver gradient backgrounds */
th	
{
	color: #FFFFFF; 
	font-size: 11px; 
	font-weight : bold;
	background-color: #006699; 
	height: 25px;
	background-image: url(../phpBB2/templates/subSilver/images/cellpic3.gif);
}

td.cat,td.catHead,td.catSides,td.catLeft,td.catRight,td.catBottom 
{
	background-image: url(../phpBB2/templates/subSilver/images/cellpic1.gif);
	background-color:#D1D7DC;
	border: #FFFFFF; 
	border-style: solid; 
	height: 28px;
}


/*
  Setting additional nice inner borders for the main table cells.
  The names indicate which sides the border will be on.
  Don't worry if you don't understand this, just ignore it :-)
*/
td.cat,td.catHead,td.catBottom {
	height: 29px;
	border-width: 0px 0px 0px 0px;
}
th.thHead,th.thSides,th.thTop,th.thLeft,th.thRight,th.thBottom,th.thCornerL,th.thCornerR {
	font-weight: bold; border: #FFFFFF; border-style: solid; height: 28px; }
td.row3Right {
	background-color: #bbddff; border: #FFFFFF; border-style: solid; }

td.spaceRow{background-color: #bbddff; border: #FFFFFF; border-style: solid;}

th.thHead,td.catHead { font-size: 12px; border-width: 1px 1px 0px 1px; }
th.thSides,td.catSides,td.spaceRow	 { border-width: 0px 1px 0px 1px; }
th.thRight,td.catRight,td.row3Right	 { border-width: 0px 1px 0px 0px; }
th.thLeft,td.catLeft	  { border-width: 0px 0px 0px 1px; }
th.thBottom,td.catBottom  { border-width: 0px 1px 1px 1px; }
th.thTop	 { border-width: 1px 0px 0px 0px; }
th.thCornerL { border-width: 1px 0px 0px 1px; }
th.thCornerR { border-width: 1px 1px 0px 0px; }


/* The largest text used in the index page title and toptic title etc. */
.maintitle	
{
	font-weight: bold; 
	font-size: 22px; 
	font-family: Georgia, "Times New Roman" , Times, serif, verdana, helvetica, sans-serif, arial;
	text-decoration: none; 
	line-height : 120%; 
	color : #000000;
}


/* General text */
.gen { font-size : 12px; }
.genmed { font-size : 11px; }
.gensmall { font-size : 10px; }
.gen,.genmed,.gensmall { color : #000000; }
a.gen,a.genmed,a.gensmall { color: #006699; text-decoration: none; }
a.gen:hover,a.genmed:hover,a.gensmall:hover	{ color: #DD6900; text-decoration: underline; }


/* The register, login, search etc links at the top of the page */
.mainmenu		{ font-size : 11px; color : #000000 }
a.mainmenu		{ text-decoration: none; color : #006699;  }
a.mainmenu:hover{ text-decoration: underline; color : #DD6900; }


/* Forum category titles */
.cattitle		{ font-weight: bold; font-size: 12px ; letter-spacing: 1px; color : #fff}
.cattitle1		{ font-weight: bold; font-size: 12px ; letter-spacing: 1px; color : #006699}
a.cattitle		{ text-decoration: none; color : #fff; }
/*a.cattitle:hover{ text-decoration: underline; }*/


/* Forum title: Text and link to the forums used in: index.php */
.forumlink		{ font-weight: bold; font-size: 12px; color : #006699; }
a.forumlink 	{ text-decoration: none; color : #006699; }
a.forumlink:hover{ text-decoration: none; color : #DD6900; }


/* Used for the navigation text, (Page 1,2,3 etc) and the navigation bar when in a forum */
.nav			{ font-weight: bold; font-size: 11px; color : #000000;}
a.nav			{ text-decoration: none; color : #000000; }
a.nav:hover		{ text-decoration: none; }


/* titles for the topics: could specify viewed link colour too */
.topictitle			{ font-weight: bold; font-size: 11px; color : #000000; }
a.topictitle:link   { text-decoration: none; color : #006699; }
a.topictitle:visited { text-decoration: none; color : #006699; }
a.topictitle:hover	{ text-decoration: none; color : #DD6900; }
a.topictitle1:link   { text-decoration: none; color : #ffffff; }
a.topictitle1:visited { text-decoration: none; color : #ffffff; }
a.topictitle1:hover	{ text-decoration: none; color : #DD6900; }

/* Name of poster in viewmsg.php and viewtopic.php and other places */
.name			{ font-size : 11px; color : #000000;}

/* Location, number of posts, post date etc */
.postdetails		{ font-size : 10px; color : #000000; }


/* The content of the posts (body of text) */
.postbody { font-size : 12px;}
a.postlink:link	{ text-decoration: none; color : #006699 }
a.postlink:visited { text-decoration: none; color : #5493B4; }
a.postlink:hover { text-decoration: underline; color : #DD6900}


/* Quote & Code blocks */
.codetop
{
	color: #000;
	margin: 8px auto 0px auto;
	font-weight:bold;
	font-size:10px;
	padding: 3px;
	background-color:#FDDBCC;
	background-image: url(../phpBB2/templates/subSilver/images/css_img_code.gif);
	background-position: right;
	background-repeat: no-repeat;
	border-left: 4px solid #fd9191;
	border-top: 1px dotted #000;
	border-right: 1px dotted #000;
}

.codemain
{
	font-family: Courier, Courier New, Verdana, Arial;
	color: #465584;
	background-color: #FAFCFE;
	padding: 2px;
	width:98%;
	margin: 0px auto 0px auto;
	/*overflow: auto;
	height: 200px;*/
	border-left: 4px solid #fd9191;
	border-right: 1px dotted #000;
	/*border-top: 1px dotted #000;*/
	border-bottom: 1px dotted #000;
}


.quotetop
{
	color: #000;
	margin: 8px auto 0px auto;
	font-weight:bold;
	font-size:10px;
	padding: 3px;
	background-color:#E4EAF2;
	background-image: url(../phpBB2/templates/subSilver/images/css_img_quote.gif);
	background-position: right;
	background-repeat: no-repeat;
	border-left: 4px solid #8394B2;
	border-top: 1px dotted #000;
	border-right: 1px dotted #000;
}
.quotemain
{
	color: #465584;
	background-color: #FAFCFE;
	border-left: 4px solid #8394B2;
	border-right: 1px dotted #000;
	/*border-top: 1px dotted #000;*/
	border-bottom: 1px dotted #000;
	padding: 4px;
	margin: 0px auto 8px auto;
}



/* Copyright and bottom info */
.copyright		{ font-size: 10px; font-family: Verdana, Arial, Helvetica, sans-serif; color: #444444; letter-spacing: -1px;}
a.copyright		{ color: #444444; text-decoration: none;}
a.copyright:hover { color: #000000; text-decoration: underline;}


/* Form elements */
input,textarea, select {
	color : #000000;
	font: normal 11px Verdana, Arial, Helvetica, sans-serif;
	/*border-color : #000000;*/
}

/* The text input fields background colour */
input.post, textarea.post, select {
	background-color : #FFFFFF;
}

input { text-indent : 2px; }

/* The buttons used for bbCode styling in message post */
input.button, input.mainoption, input.liteoption{
	/*background-color : #EFEFEF;
	color : #000000;
	font-size: 11px; font-family: Verdana, Arial, Helvetica, sans-serif;*/
	background-color: #d7f5ff;
	border: solid 2px #69f;
	border-left-color: #d7f5ff;
	border-right-color: #d7f5ff;
	font-family: Georgia, "Times New Roman" , Times, serif, verdana, helvetica, sans-serif, arial;
	font-weight: bolder;
}

/* The main submit button option 
 {
	background-color : #FAFAFA;
	font-weight : bold;
}

/* None-bold submit button 
 {
	background-color : #FAFAFA;
	font-weight : normal;
}

/* This is the line in the posting page which shows the rollover
  help line. This is actually a text box, but if set to be the same
  colour as the background no one will know ;)
*/
.helpline { background-color: #DEE3E7; border-style: none; }
.spacer {border-bottom: 4px solid #8394B2;}


/*
 * -----------------
 * Elementi guetbook
 * -----------------
 */

.forum
{
	font-family: Georgia, Times New Roman, Times, serif, verdana, helvetica, sans-serif, arial;
	font-weight: bold;
	color: #69f;
}

.where
{
	font-family: Georgia, Times New Roman, Times, serif, verdana, helvetica, sans-serif, arial;
	color: #00a;
}

#1
{
	color: #fff;
}

hr
{
	display: none;
}

hr#sep
{
	display: block;
}

#frameid
{
	border: solid 1px #6798d7;
}

#tb1
{
	font-size: 110%;
	background: #008 url( '../img/menu-sfondo-blu.png' ) repeat-x;
	color:#FFFFFF;
}

.cp
{
	padding:3;
}

.ele
{
	list-style-image: url("../img/elenco.gif");
	border-bottom-style: none; 	
  	padding: 0 0 0 0;
}

.forminput 
{
	BORDER-RIGHT: #abc9f1 1px dashed; 
	BORDER-TOP: #abc9f1 1px dashed; 
	FONT-SIZE: 8pt; 
	VERTICAL-ALIGN: middle; 
	BORDER-LEFT: #abc9f1 1px dashed; 
	BORDER-BOTTOM: #abc9f1 1px dashed; 
	font-family: Georgia, Times New Roman, Times, serif, verdana, helvetica, sans-serif, arial;
	BACKGROUND-COLOR: #e8e8e9
}



/*
 * -------------
 * Elementi vari
 * -------------
 */
#clock
{
	
	border-style: none;
	height: 15px;
	font: 98% Georgia, "Times New Roman" , Times, serif, verdana, helvetica, sans-serif, arial;
	font-weight: lighter;
	text-align: center;
	color: #000;
        vertical-align: middle;
}

#info
{
	background: #fff url( '../img/help.gif' ) no-repeat 5px 5px;
	border: 1px dotted #ccc;
	color: #06c;
	padding: 4px;
	text-align: center;
}

.mailing
{
	text-align: justify;
}

.redirect
{
	font-size: 66%;
	color:#fff;
}

table
{
	font-size: 100%;
	font-family: Georgia, Times New Roman, Times, serif, verdana, helvetica, sans-serif, arial;
}

.sub
{
	background-color: #c6e1fb;
	width: 90%;
	text-align:left;
	margin-top:2px;
}

span .menu
{
	text-align:left;
	font-weight:bold;
}
	


/* 
 * -------------
 * Impaginazione 
 * -------------
 */
#testata
{
	background: #00a;
	color: #fff;
	margin: 0 auto;
	width: 1000px;
	text-align: left;
	border: 1px solid #6798d7;
	border-top-style: none;
	border-bottom-style: none;
}

#corpo
{
	background: #fff;
	color: #000;
	margin: 0 auto;
	width: 1000px;
	text-align: left;
	position: relative;
	border: 1px solid #6798d7;
	border-top-style: none;
	border-bottom-style: none;
}

#down
{
	color: #fff;
	position: relative;
	background: #00a url( '../img/menu-sfondo-blu.png' ) repeat-x;
	margin: 0 auto;
	width: 1000px;
	text-align: center;
	border: 1px solid #6798d7;
	border-top: 1px dotted #00a;
	padding: 0;
}

/*-- Dettagli --*/
#testata .riga1
{
	position: relative;
	background: #00c;
	border-bottom: 1px solid #000;
}

#testata .riga1 .colonna1
{
 	height: 20px;	
	font-weight: bold;
	background: rgb(214, 233, 252);
	color: #00a;
	width: 300px;
	padding: 0 0 0 0;
	text-align: center;
        vertical-align: middle;
}

#testata .riga1 .colonna2
{
	font-weight: bold;
	font: verdana;
	position: absolute;
	top: 0;
	left: 300px;
	width: 700px;
	padding: 0;
	text-align: center;
 	background: rgb(164, 211, 255);
 	height: 20px;
 	vertical-align: middle;
        color: #000;
}

#testata .riga2
{
	position: relative;
	/*height: 92px;*/
	padding: 5px;
	background: #00a url( '../img/menu-sfondo-blu.png' ) repeat-x;
}

#testata .riga2 .colonna1
{
	width: 286px;
	padding: 0px 0;
	text-align: center;
}

#testata .riga2 .colonna2
{
	position: absolute;
	padding: 0px 0;
	width: 714px;
	top: 1px;
	left: 290px;
	text-align: left;
}

#testata .riga2 .colonna2 img
{
	border-style: none;
	color: #fff;
}

#testata .riga3
{
	background: #bdf;
	color: #000;
	position: relative;
	border-bottom: 1px dotted #00a;
	border-top: 1px solid #000;
}

#testata .riga3 .colonna1
{
	color: #00a;
	font-weight: bold;
	width: 100px;
	padding: 2px 0;
	text-align: center;
	border-right: 2.5px solid #fff;
}

#testata .riga3 .colonna2
{
	position: absolute;
	padding: 2px 0;
	width: 534px;
	top: 0;
	left: 100px;
	text-align: left;
	font-weight: bold;
	color: #69f;
}

#testata .riga3 .colonna3
{
	position: absolute;
	padding: 2px 0;
	width: 124px;
	top: 0;
	left: 634px;
	text-align: center;
}

#corpo #colonnalink
{
	position: relative;
	width: 101px;
	padding: 0px;
	border-top: medium none;
	background: #bdf url( '../img/bk.gif' ) repeat-y;
	border-right: 1px dotted #00a;
}

#corpo #colonnalink .contenuto
{
	padding: 4px 4px 4px 4px;
}

#corpo #colonnalink .contenuto form
{
	padding: 0 0 0 0;
	border-style: none;
}

#corpo #colonnalink ul
{
	list-style: none;
	margin: 0;
	padding: 0 0px 0 0px;
}

#corpo #contenuto
{
	position: absolute;
	float: left;
	top: 0;
	left: 102px;
	width: 534px;
	margin-right: 634px;
	padding: 0px 0px 0 0px;
	text-align: justify;
	background-color: #ffffff;
}

#corpo #contenuto form
{
	padding: 4px 4px 4px 4px;
	border-bottom: 1px dotted #00a;
	background-color: #d7ebfb;
}

#corpo #contenuto .riga1
{
	padding: 0 5px;
	position: relative;
}
#corpo #contenuto .riga1 .colonna1
{
	position: absolute;
	width: 265px;
}
#corpo #contenuto .riga1 .colonna2
{
	position: absolute;
	left: 267px;
	width: 265px;
}

#corpo #contenuto .riga1 #new
{
	width: 100%;
	margin-bottom: 10px;
}
#corpo #contenuto .riga1 #new h6
{
	display: block;
	margin: 0;
	width: 10em;
	font-size: 1em;
	font-weight: bold;
	background: #06f url( '../img/angolo.gif' ) no-repeat 100% 0%;
	color: #fff;
	white-space: nowrap;
	padding-left: 5px;
	padding-right: 30px;
	padding-top: 1px;
	padding-bottom: 2px;
}

#corpo #contenuto .riga1 #new .box
{
	border: 1px solid #06f;
	background: #FAF6E6;
	color: #000;
	padding: 4px;
	margin: 0;
}

#corpo #contenuto .riga1 #new .box .colonna
{
	width: 512px;
	margin: 0;
	padding: 0 0 4px 0;
	float: left;
}

#corpo #contenuto .riga1 #new .box .footer
{
	clear: both;
	background: #FFE7AE;
	color: #F90;
	padding: 2px 5px 4px 5px;
	margin: 5px -4px -4px -4px;
	text-align: right;
}

#corpo #contenuto .riga1 #new .box .footer1
{
	clear: both;
	background: #FFE7AE;
	color: #F90;
	padding: 2px 5px 4px 5px;
	margin: 5px -4px -4px -4px;
	text-align: right;
}

#corpo #contenuto .riga1 #remember
{
	margin-top: 10px 0;
}
#corpo #contenuto .riga1 #remember h6
{
	font-size: 1em;
	font-weight: bold;
	color: #00a;
	margin: 0 0 3px 0;
}

#corpo #contenuto .riga1 #remember .box
{
	padding: 4px;
	margin: 0;
	background: #FAF6E6;
	color: #F90;
	border-width: 1px;
	border-color: #06f;
	border-style: dotted none;
}

#corpo #contenuto .riga1 #remember .box #for
{
	background-color: #FAF6E6;
	border: none;
}

#corpo #contenuto .riga1 #remember .box1
{
	padding: 4px;
	margin: 0;
	background: #FAF6E6;
	color: #009;
	border-width: 1px;
	border-color: #06f;
	border-style: dotted none;
}

#corpo #contenuto .riga1 #remember .box2
{
	padding: 4px;
	margin: 0;
	background: #FAF6E6;
	color: #009;
	border-width: 1px;
	border-color: #85b0e4;
	border-style: solid none;
}

#corpo #contenuto .riga1 #remember ul
{
	list-style-image: url("../img/elenco.gif");
	border-bottom-style: none; 	
   padding: 0 0 0 0;
}

#corpo #contenuto .riga2
{
	position: relative;
	padding: 0 5px;
	margin: 0;
}

#corpo #contenuto .riga2 .colonna1
{
	width: 152px;
	float: left;
	margin-right: 10px;
	background: #FAF8F6;
	border-bottom: 1px dotted #E44E01;
}

#corpo #contenuto .riga2 .colonna2
{
	float: left;
	width: 360px;
}

#corpo #contenuto .riga2 .colonna4
{
	width: 20px;
	height: 165px;
	float: left;
}	

#corpo #contenuto .riga2 .colonna3
{
	width: 110px;
	float: left;
	padding: 5px 5px;
}

#corpo #contenuto .riga2 .colonna3 .con
{
	background-color: #d6e9fc;
	text-align: center;
	border-color: #85b0e4;
	border-bottom-style: solid;
	padding: 5px 0 0 3px;
}

#corpo #contenuto .riga2 .colonna2 .imm
{
	width: 358px;
	text-align: center;
	border: 1px dotted #E44E01;
	font-size: 1em;
	font-weight: bold;
	color: #00a;
	margin: 0 0 3px 0;
}

#corpo #contenuto .riga2 #newsbox
{
	border-color: #6798d7;
	border-style: solid;
	border-width: 1px;
}
#corpo #contenuto .riga2 #newsbox .rig
{
	padding: 4px;
	margin: 0;
	background: #FAF6E6;
	border: none;
}
#corpo #contenuto .riga2 #newsbox .fut
{
	padding: 4px;
	margin: 0;
	background: #c6e1fb;
}
#corpo #contenuto .riga2 #newsbox h6
{
	font-size: 1em;
	font-weight: bold;
	color: #00a;
	margin: 0 0 3px 0;
}

#corpo #contenuto .riga2 .colonna1 .box
{
	padding: 5px 0;
	margin: 5px 0;
	border-top: 1px dotted #E44E01;
}

#corpo #contenuto .riga2 .colonna1 h6
{
	font-size: 1em;
	font-weight: bold;
	color: #E44E01;
	margin: 0 0 3px 0;
}

#corpo #contenuto .riga2 #remember
{
	margin-top: 10px 0;
}
#corpo #contenuto .riga2 #remember h6
{
	font-size: 1em;
	font-weight: bold;
	color: #00a;
	margin: 0 0 3px 0;
}

#corpo #contenuto .riga2 #remember .box
{
	padding: 4px;
	margin: 0;
	background: #FAF6E6;
	color: #F90;
	border-width: 1px;
	border-color: #06f;
	border-style: dotted none;
}

#corpo #contenuto .riga2 #remember .box #for
{
	background-color: #FAF6E6;
	border: none;
}

#corpo #contenuto .riga2 form
{
	background-color: #faf6e6;
	border-top: solid 1px #06f;
	border-bottom-color: #06f;
}

#corpo #contenuto .riga3
{
	position: relative;
	padding: 0 5px;
	margin: 0;
}

#corpo #banner
{
	position: absolute;
	top: 0;
	left: 636px;
	width: 123px;
	padding: 0px 0 0 0px;
	text-align: center;
	background-color: #bdf;
	border-left: 1px dotted #00a;
}

#corpo #annuncio
{
    display: block;
    border: 3px solid #66CC99;
    width: 750px;
    margin: auto;
    padding: 4px;
    background-color: #CCFFCC;
}



/*
 * JQuery-UI
 */

/*Tooltip*/
    .ui-tooltip, .arrow:after {
        background: black;
        border: 2px solid white;
    }

   .ui-tooltip {
    padding: 10px 20px;
    color: #000;
    border-radius: 20px;
    font: 14px "Helvetica Neue", Sans-Serif;
    box-shadow: 0 0 7px black;
  }
  .arrow {
    width: 70px;
    height: 16px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    margin-left: -35px;
    bottom: -16px;
  }
  .arrow.top {
    top: -16px;
    bottom: auto;
  }
  .arrow.left {
    left: 20%;
  }
  .arrow:after {
    content: "";
    position: absolute;
    left: 20px;
    top: -20px;
    width: 25px;
    height: 25px;
    box-shadow: 6px 5px 9px -9px black;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .arrow.top:after {
    bottom: -20px;
    top: auto;
  }